<div class="row">

  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">ค่าความเค็ม และ ระดับน้ำ</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA01</label>
                <input type="text" [(ngModel)]="ska1" class="form-control" value="0.0">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA02</label>
                <input type="text" [(ngModel)]="ska2" class="form-control"  value="0.0">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA03</label>
                <input type="text" [(ngModel)]="ska3" class="form-control"value="0.0">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA04</label>
                <input type="text" [(ngModel)]="ska4" class="form-control" value="0.0">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA05</label>
                <input type="text" [(ngModel)]="ska5" class="form-control" value="0.0">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA06</label>
                <input type="text" [(ngModel)]="ska6" class="form-control" value="0.0">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA07</label>
                <input type="text" [(ngModel)]="ska7" class="form-control"  value="0.0">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA08</label>
                <input type="text" [(ngModel)]="ska8" class="form-control" value="0.0">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA09</label>
                <input type="text" [(ngModel)]="ska9" class="form-control"  value="0.0">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>SKA10</label>
                <input type="text" [(ngModel)]="ska10" class="form-control" value="0.0">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>ระดับน้ำ</label>
                <input type="text" [(ngModel)]="water" class="form-control" value="0.0">
              </div>
            </div>



          </div>


          <div class="row">
            <div class="update ml-auto mr-auto">
              <button  (click)="cal()" class="btn btn-primary btn-round">Predict</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="urlb" class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">การแพร่กระจายความเค็ม</h5>
      </div>
      <div class="card-body">

          <img [src]="url" alt="">
      </div>

    </div>
  </div>
</div>
